body,html {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    font-size: 18px;
    & a{
        text-decoration: none;
        color: black;
        }
}

.hidden{
    display: none;
}

.instruct, .restaurants{
    padding-bottom: 4rem;
    & h2{
        padding: 1rem;
    }
}