.menu__btn {
    float: right;
    position: relative;
    top: -3rem;
    right: 2rem;
    @include like;
}

.menu {
&__container{
    background-color: $bkgdgrey;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
    margin-top: -4rem;
    z-index: 2;
}
&__items {
position: relative;
background-color: #fff;
padding: 1rem;
display: flex;
flex-direction: column;
border-radius: .75rem;
margin: 1rem 0;
box-shadow: .25rem .25rem 1rem rgba(0,0,0,.1);
overflow: hidden;
cursor: pointer;
@include scale01;

&__name {
    padding-bottom: 1rem;
}
&__price {
    display: flex;
    float: right;
    width: 2rem;
    font-weight: bold;
    position: absolute;
    right: 2rem;
    top: 3rem;

 }
}
}