.local{
    text-align: center;
    background-color: $bkgdlocal;
    padding: .7rem;
    box-shadow: inset 0px 3px 2px rgba(0,0,0,.25);
}

.reserve{
    background-color: $bkgdgrey;
    text-align: center;
    padding: 1rem;
    padding-bottom: 3rem;
    & p {
    margin-bottom: 2.5rem;
    }
    &__button{
        @include button($primary-color);
    }
}

.instruct{
    margin: 0;
    & h2{
        padding: 1rem;
    }
    & ol {
        list-style: none; counter-reset: li
    }
    & li::before {
        content: counter(li); color: white;
        background-color: $primary-color;
        border-radius: 100px;
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -.75rem;
    }
    & li {
        counter-increment: li;
    }
    &__icon{
        display: flex;
        padding-right: 1rem;
        align-items: center;
        justify-content: center;
        color: $instructicon;
        margin-top: .2rem;
    }
    &__text{
        margin-top: .1rem;
    }
    &__step{
        display: flex;
        border-radius: 20px;
        background-color: $bkgdgrey;
        padding: 1.5rem 1.5rem 1.5rem 0;
        margin-right: 1rem;
        margin-top: 1rem;
        box-shadow: .25rem .25rem .5rem rgba(0,0,0,.125);
    }
}