@keyframes loader {
  100% {
    opacity: 0;
    z-index: -2;
  }
} 

@keyframes bars {
    0% {
        transform: scaleY(0);
        opacity: 0.3;
    }

    50%{
      transform: scaleY(1);
      opacity: 1;
    }

    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}

@keyframes checked-btn-anim{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checking-btn-anim {
  0% {
    margin: -1rem -5rem -1rem 1rem;
  }
  100% {
    margin-right: -1rem;
  }
}