@use "sass:color";

@mixin button($type) {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, color.scale($secondary-color, $alpha: -10%) 0%, color.scale($primary-color, $alpha: -10%) 100%);
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

@mixin itemslayout{
  box-shadow: .25rem .25rem .5rem rgba(0,0,0,.125);
  border-radius: 20px;
}

@mixin pinkgradient{
  background: -webkit-linear-gradient(0deg, color.scale($secondary-color, $alpha: -10%) 0%, color.scale($primary-color, $alpha: -10%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin like{
  &__like{
    cursor: pointer;
    &:hover{
      font-weight: 600;
      transition-duration: .5s;
      @include pinkgradient;
    }
    &::selection{
      font-weight: 600;
      transition-duration: .1s;
      @include pinkgradient;
    }
}
}