/*Colors chart*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$bkgdgrey: #F6F6F6;
$bkgdlocal: #eaeaea;
$instructicon: #7E7E7E;
/*Loader*/
$loadbarsize: 3vh;
$num-loadbars: 9;
$loader-dur: 1500ms;
$loadbar-delay: $loader-dur / $num-loadbars;